		*{
		margin:0px;
			padding:0px;
		}
		html, body, canvas{
			width:100%;
			height:100%;
		}
		canvas{
			position:absolute;
			background-color:burlywood;
		}
		#startup{
			height:100%;
			width:100%;
			background-color:burlywood;
			
		}
		#startbtn{
			position:absolute;
			height:300px;
			width:300px;
			line-height:275px;
			background-color:white;
			text-align:center;
			font-size:50px;
			top:50%;
			left:50%;
			margin-top:-150px;
			border:5px solid black;
			border-radius:200px;
		}
		#startbtn:active {
			background-color:gray;
			font-size:48px;
		}
		#score{
			position:absolute;
			height:300px;
			width:300px;
			top:50%;
			margin-top:-150px;
			left:20%;
			background-color:white;
			}
		.noselect {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			cursor:pointer;
		}